.game-panel {
    width: 620px;
    /* border: 1px solid black; */
    height: 500px;
    margin-left: 60px;
}

.game-title {
    display: flex;
    align-items: center;
    padding: 15px;
}

.game-title h3 {
    margin-right: 8px;
}

.game-title p {
    font-size: 20px;
    font-weight: 300;
}

.choose-game {
    padding-left: 15px;
}

.choose-game p {
    font-weight: 600;
    color: #868686;
    font-size: 13px;
    padding-top: 0px;
}

.choose {
    margin-top: 15px;
}

/*Buttons styles*/
.button {
    border-radius: 100px;
    width: 80px;
    text-align: center;
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    margin-right: 7px;
}

/* #button-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #7F3992;
    color: #7F3992;
}

#button-2 {
    background: #01AC66 0% 0% no-repeat padding-box;
    border: 2px solid #01AC66;
    color: #FFFFFF;
}

#button-3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F79C31;
    color: #F79C31;
} */


.rules {
    padding: 15px;
    color: #868686;
    font-size: 13px;
}

.rule-title {
    font-weight: 600;
    margin-bottom: 7px;
}

.number {
    background: #ADC0C4 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 14px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border-radius: 100%;
    width: 33px;
    height: 35px;
    border: none;
    margin-bottom: 10px;
}

.game {
    padding: 15px;
}

#complete-game {
    border: 1px solid #27C383;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #27C383;
    width: 130px;
    height: 42px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    margin-right: 25px;
}

#clear-game {
    border: 1px solid #27C383;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #27C383;
    width: 120px;
    height: 42px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
}

#add-to-cart{
    border: 1px solid #27C383;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
    font-style: normal;
    font-weight: 500;
    background: #27C383 0% 0% no-repeat padding-box;
    margin-left: 115px;
}

main img{
    width: 21px; 
    height: 17px;
    align-items: center;
    margin-right: 15px;
}